# Collaborative Filtering

Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous can be commonly seen in online stores, movies databases and job finders. In this notebook, we will explore recommendation systems based on Collaborative Filtering and implement simple version of one using Python and the Pandas library.

In [44]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')

In [46]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

So each movie has a unique ID, a title with its release year along with it (Which may contain unicode characters) and several different genres in the same field. Let's remove the year from the title column and place it into its own one by using the handy [extract](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html#pandas.Series.str.extract) function that Pandas has.

Let's remove the year from the __title__ column by using pandas' replace function and store in a new __year__ column.

In [47]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract(pat='(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract(pat='(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

#### Ratings Dataframe

In [48]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it to save on memory.

In [49]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

In [50]:
# Ratings Final Dataframe

ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

# Collaborative Recommendation System

Recommendation system built in this notebook is based on __Collaborative Filtering__, which is also known as __User-User Filtering__. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one used here is going to be based on the __Pearson Correlation Function__.

The process for creating a User Based recommendation system is as follows:
- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbours 
- Get the watched movie record of the user for each neighbour.
- Calculate a similarity score using some formula
- Recommend the items with the highest score

Creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [51]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

   rating                title
0     5.0  Breakfast Club, The
1     3.5            Toy Story
2     2.0              Jumanji
3     5.0         Pulp Fiction
4     4.5                Akira

#### Add movieId to input user
With the input complete, let's extract the input movies's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [52]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

,movieId,title,genres,rating
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.5
1,2,Jumanji,Adventure|Children|Fantasy,2.0
2,296,Pulp Fiction,Comedy|Crime|Drama|Thriller,5.0
3,1274,Akira,Action|Adventure|Animation|Sci-Fi,4.5
4,1968,"Breakfast Club, The",Comedy|Drama,5.0

#### The users who has seen the same movies
Now with the movie ID's in our input, we can now get the subset of users that have watched and reviewed the movies in our input.

In [53]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

We now group up the rows by user ID.

In [54]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

# check a group
# group for ID 13

userSubsetGroup.get_group(13)

     userId  movieId  rating
479      13        2     2.0
531      13     1274     5.0

In [55]:
userSubsetGroup.get_group(1130)

        userId  movieId  rating
104167    1130        1     0.5
104168    1130        2     4.0
104214    1130      296     4.0
104363    1130     1274     4.5
104443    1130     1968     4.5

Sort these groups so the users that share the most movies in common with the input have higher priority. This provides a richer recommendation since we won't go through every single user.

In [56]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [57]:
userSubsetGroup[0:5]

[(75,       userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0), (106,       userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5), (686,        userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0), (815,        userId  movieId  rating
  73747     815        1     4.5
  73748     815        2     3.0
  73922     815      296     5.0
  74362     815     1274     3.0
  74678     815     1968     4.5), (1040,        userId  movieId  rating
  96689    1040        1     3.0
  96690    1040        2     1.5
  96733    1040      296     3.5
  96859    1040     1274     3.0
  96922    1040     1968     4.0)]

#### Similarity of users to input user
Next, we are going to compare all users (not really all !!!) to our specified user and find the one that is most similar.  
we're going to find out how similar each user is to the input through the __Pearson Correlation Coefficient__. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below. 

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation. 

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

Select a subset of users to iterate through. This limit is imposed because going through every single user wastes too much time.

In [58]:
userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

[(75,       userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0), (106,       userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5), (686,        userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0), (815,        userId  movieId  rating
  73747     815        1     4.5
  73748     815        2     3.0
  73922     815      296     5.0
  74362     815     1274     3.0
  74678     815     1968     4.5), (1040,        userId  movieId  rating
  96689    1040        1     3.0
  96690    1040        2     1.5
  96733    1040      296     3.5
  96859    1040     1274     3.0
  96922    1040     1968     4.0), (1130,         userId  movieId  rating
  104167    1130        1     0.5
  104168    1130        2     4.0
  104214    1130      296     4.0
  104363    1130     1274     4.5
  104443    1130     1968     4.5), (1502,         userId  movieId  rating
  133876    1502        1     4.0
  133877    1502        2     3.5
  133917    1502      296     5.0
  134058    1502     1274     4.0
  134133    1502     1968     5.0), (1599,         userId  movieId  rating
  142722    1599        1     4.0
  142723    1599        2     4.0
  142810    1599      296     5.0
  143068    1599     1274     4.0
  143220    1599     1968     4.0), (1625,         userId  movieId  rating
  146811    1625        1     4.0
  146812    1625        2     3.5
  146867    1625      296     5.0
  147011    1625     1274     4.0
  147107    1625     1968     4.0), (1950,         userId  movieId  rating
  176143    1950        1     5.0
  176144    1950        2     4.0
  176186    1950      296     5.0
  176349    1950     1274     4.0
  176444    1950     1968     4.0), (2065,         userId  movieId  rating
  185283    2065        1     3.0
  185284    2065        2     3.0
  185340    2065      296     4.0
  185472    2065     1274     3.0
  185575    2065     1968     3.0), (2128,         userId  movieId  rating
  191789    2128        1     3.0
  191790    2128        2     4.0
  191830    2128      296     4.5
  191932    2128     1274     5.0
  191979    2128     1968     5.0), (2432,         userId  movieId  rating
  221536    2432        1     3.0
  221537    2432        2     3.0
  221593    2432      296     4.0
  221842    2432     1274     2.0
  222002    2432     1968     3.0), (2791,         userId  movieId  rating
  254324    2791        1     4.5
  254325    2791        2     3.0
  254344    2791      296     4.5
  254446    2791     1274     4.5
  254493    2791     1968     4.5), (2839,         userId  movieId  rating
  259233    2839        1     4.0
  259234    2839        2     3.0
  259292    2839      296     5.0
  259427    2839     1274     5.0
  259523    2839     1968     4.0), (2948,         userId  movieId  rating
  269447    2948        1     4.0
  269448    2948        2     3.0
  269502    2948      296     4.0
  269603    2948     1274     3.0
  269675    2948     1968     2.0), (3025,         userId  movieId  rating
  278199    3025        1     3.0
  278200    3025        2     3.5
  278255    3025      296     4.5
  278410    3025     1274     3.0
  278499    3025     1968     4.0), (3040,         userId  movieId  rating
  280209    3040        1     4.0
  280210    3040        2     4.0
  280221    3040      296     5.0
  280282    3040     1274     5.0
  280313    3040     1968     5.0), (3186,         userId  movieId  rating
  293305    3186        1     2.5
  293306    3186        2     2.0
  293361    3186      296     4.5
  293562    3186     1274     2.0
  293680    3186     1968     3.5), (3271,         userId  movieId  rating
  299824    3271        1     3.5
  299825    3271        2     3.0
  299876    3271      296     4.5
  300015    3271     1274     2.0
  300084    3271     1968     3.5), (3429,         userId  movieId  rating
  316845    3429        1     4.0
  316846    3429        2     3.0
  316876    3429      296     3.0
  316948    3429     1274     4.0
  317009    3429     1968     3.0), (3734,         userId  movieId  rating
  340015    3734        1     5.0
  340016    3734        2     4.0
  340087    3734      296     2.0
  340315    3734     1274     5.0
  340465    3734     1968     5.0), (4099,         userId  movieId  rating
  375223    4099        1     5.0
  375224    4099        2     3.0
  375288    4099      296     3.0
  375504    4099     1274     3.5
  375651    4099     1968     4.0), (4208,         userId  movieId  rating
  387004    4208        1     4.0
  387005    4208        2     2.0
  387119    4208      296     2.0
  387377    4208     1274     3.0
  387575    4208     1968     4.0), (4282,         userId  movieId  rating
  397984    4282        1     4.0
  397985    4282        2     4.0
  398040    4282      296     4.0
  398210    4282     1274     4.0
  398336    4282     1968     3.5), (4292,         userId  movieId  rating
  400307    4292        1     3.5
  400308    4292        2     3.0
  400349    4292      296     4.5
  400503    4292     1274     5.0
  400587    4292     1968     3.5), (4415,         userId  movieId  rating
  408738    4415        1     4.5
  408739    4415        2     3.5
  408844    4415      296     5.0
  409135    4415     1274     0.5
  409343    4415     1968     3.0), (4586,         userId  movieId  rating
  426228    4586        1     4.5
  426229    4586        2     5.0
  426259    4586      296     3.5
  426396    4586     1274     3.5
  426466    4586     1968     4.0), (4725,         userId  movieId  rating
  439244    4725        1     5.0
  439245    4725        2     4.0
  439263    4725      296     4.0
  439313    4725     1274     2.0
  439349    4725     1968     5.0), (4818,         userId  movieId  rating
  449041    4818        1     4.0
  449042    4818        2     2.0
  449108    4818      296     5.0
  449267    4818     1274     3.0
  449371    4818     1968     2.5), (5104,         userId  movieId  rating
  475288    5104        1     2.0
  475289    5104        2     0.5
  475393    5104      296     5.0
  475670    5104     1274     4.0
  475873    5104     1968     2.0), (5165,         userId  movieId  rating
  483940    5165        1     4.0
  483941    5165        2     4.0
  483966    5165      296     3.5
  484072    5165     1274     3.0
  484124    5165     1968     4.0), (5547,         userId  movieId  rating
  513560    5547        1     4.0
  513561    5547        2     3.5
  513603    5547      296     4.5
  513707    5547     1274     4.0
  513767    5547     1968     3.0), (6082,         userId  movieId  rating
  561189    6082        1     3.5
  561190    6082        2     3.0
  561224    6082      296     4.0
  561338    6082     1274     4.0
  561406    6082     1968     1.5), (6207,         userId  movieId  rating
  575407    6207        1     3.5
  575408    6207        2     2.0
  575436    6207      296     5.0
  575523    6207     1274     5.0
  575565    6207     1968     4.5), (6366,         userId  movieId  rating
  594942    6366        1     2.0
  594943    6366        2     2.5
  594996    6366      296     4.0
  595144    6366     1274     4.0
  595217    6366     1968     3.0), (6482,         userId  movieId  rating
  605173    6482        1     5.0
  605174    6482        2     3.0
  605264    6482      296     3.0
  605493    6482     1274     1.0
  605691    6482     1968     5.0), (6530,         userId  movieId  rating
  611461    6530        1     3.5
  611462    6530        2     4.0
  611614    6530      296     4.0
  611969    6530     1274     3.0
  612202    6530     1968     3.5), (7235,         userId  movieId  rating
  668396    7235        1     2.5
  668397    7235        2     1.0
  668428    7235      296     5.0
  668523    7235     1274     2.0
  668575    7235     1968     2.5), (7403,         userId  movieId  rating
  682305    7403        1     4.0
  682306    7403        2     4.0
  682369    7403      296     4.5
  682518    7403     1274     4.5
  682597    7403     1968     3.5), (7641,         userId  movieId  rating
  705768    7641        1     3.0
  705769    7641        2     2.0
  705806    7641      296     3.0
  705903    7641     1274     3.0
  705982    7641     1968     5.0), (7996,         userId  movieId  rating
  738175    7996        1     5.0
  738176    7996        2     2.0
  738228    7996      296     4.0
  738390    7996     1274     4.0
  738489    7996     1968     4.0), (8008,         userId  movieId  rating
  739532    8008        1     5.0
  739533    8008        2     4.5
  739557    8008      296     5.0
  739659    8008     1274     3.5
  739696    8008     1968     4.0), (8086,         userId  movieId  rating
  745813    8086        1     3.0
  745814    8086        2     2.0
  745843    8086      296     3.0
  745928    8086     1274     4.0
  745988    8086     1968     3.0), (8245,         userId  movieId  rating
  760027    8245        1     3.0
  760028    8245        2     3.0
  760060    8245      296     4.0
  760159    8245     1274     1.0
  760229    8245     1968     3.0), (8572,         userId  movieId  rating
  791721    8572        1     4.0
  791722    8572        2     3.5
  791760    8572      296     5.0
  791861    8572     1274     4.0
  791939    8572     1968     4.5), (8675,         userId  movieId  rating
  801136    8675        1     3.5
  801137    8675        2     3.5
  801201    8675      296     4.0
  801373    8675     1274     4.0
  801480    8675     1968     3.5), (9101,         userId  movieId  rating
  842365    9101        1     4.0
  842366    9101        2     3.0
  842420    9101      296     3.5
  842540    9101     1274     3.5
  842634    9101     1968     2.5), (9358,         userId  movieId  rating
  863664    9358        1     4.0
  863665    9358        2     2.0
  863710    9358      296     5.0
  863877    9358     1274     4.5
  863974    9358     1968     3.0), (9663,         userId  movieId  rating
  886074    9663        1     4.0
  886075    9663        2     3.5
  886157    9663      296     5.0
  886372    9663     1274     3.5
  886512    9663     1968     3.0), (9994,         userId  movieId  rating
  923978    9994        1     5.0
  923979    9994        2     3.0
  924026    9994      296     5.0
  924194    9994     1274     5.0
  924283    9994     1968     3.5), (10248,         userId  movieId  rating
  948970   10248        1     4.0
  948971   10248        2     3.0
  949003   10248      296     2.5
  949106   10248     1274     2.0
  949166   10248     1968     3.5), (10315,         userId  movieId  rating
  955563   10315        1     4.0
  955564   10315        2     3.0
  955634   10315      296     4.0
  955882   10315     1274     3.0
  956023   10315     1968     4.0), (10368,         userId  movieId  rating
  960673   10368        1     4.0
  960674   10368        2     3.0
  960724   10368      296     3.5
  960943   10368     1274     4.0
  961087   10368     1968     3.5), (10607,         userId  movieId  rating
  984869   10607        1     3.0
  984870   10607        2     4.0
  984897   10607      296     5.0
  984988   10607     1274     4.0
  985053   10607     1968     4.0), (10707,         userId  movieId  rating
  993876   10707        1     3.0
  993877   10707        2     1.5
  993922   10707      296     4.5
  994091   10707     1274     4.5
  994173   10707     1968     4.0), (10863,          userId  movieId  rating
  1007945   10863        1     4.5
  1007946   10863        2     3.5
  1007993   10863      296     5.0
  1008157   10863     1274     4.0
  1008225   10863     1968     4.0), (11314,          userId  movieId  rating
  1047586   11314        1     4.0
  1047587   11314        2     4.0
  1047612   11314      296     5.0
  1047687   11314     1274     4.5
  1047722   11314     1968     4.5), (11399,          userId  movieId  rating
  1057671   11399        1     4.0
  1057672   11399        2     3.5
  1057707   11399      296     5.0
  1057817   11399     1274     5.0
  1057872   11399     1968     3.5), (11769,          userId  movieId  rating
  1096707   11769        1     3.5
  1096708   11769        2     2.5
  1096785   11769      296     4.5
  1097000   11769     1274     3.5
  1097125   11769     1968     4.5), (11827,          userId  movieId  rating
  1103636   11827        1     3.0
  1103637   11827        2     2.0
  1103718   11827      296     4.0
  1103975   11827     1274     4.0
  1104142   11827     1968     2.0), (12069,          userId  movieId  rating
  1125615   12069        1     4.0
  1125616   12069        2     3.0
  1125663   12069      296     3.0
  1125795   12069     1274     4.0
  1125877   12069     1968     3.0), (12120,          userId  movieId  rating
  1131811   12120        1     1.5
  1131812   12120        2     1.0
  1131869   12120      296     4.5
  1132025   12120     1274     3.0
  1132127   12120     1968     4.5), (12211,          userId  movieId  rating
  1140602   12211        1     2.5
  1140603   12211        2     2.0
  1140647   12211      296     3.0
  1140790   12211     1274     3.5
  1140862   12211     1968     3.0), (12325,          userId  movieId  rating
  1150448   12325        1     3.5
  1150449   12325        2     1.5
  1150504   12325      296     4.0
  1150677   12325     1274     4.0
  1150754   12325     1968     4.5), (12916,          userId  movieId  rating
  1208383   12916        1     5.0
  1208384   12916        2     3.0
  1208415   12916      296     5.0
  1208561   12916     1274     4.0
  1208626   12916     1968     4.0), (12921,          userId  movieId  rating
  1209144   12921        1     4.0
  1209145   12921        2     3.0
  1209219   12921      296     5.0
  1209410   12921     1274     4.0
  1209551   12921     1968     3.5), (13053,          userId  movieId  rating
  1224899   13053        1     4.0
  1224900   13053        2     3.0
  1224979   13053      296     4.5
  1225210   13053     1274     4.0
  1225350   13053     1968     4.5), (13142,          userId  movieId  rating
  1233446   13142        1     4.5
  1233447   13142        2     3.0
  1233488   13142      296     4.5
  1233586   13142     1274     3.5
  1233653   13142     1968     4.0), (13260,          userId  movieId  rating
  1245032   13260        1     3.0
  1245033   13260        2     3.0
  1245059   13260      296     4.0
  1245133   13260     1274     4.0
  1245177   13260     1968     3.5), (13366,          userId  movieId  rating
  1254199   13366        1     3.0
  1254200   13366        2     1.5
  1254222   13366      296     5.0
  1254309   13366     1274     4.5
  1254340   13366     1968     3.5), (13768,          userId  movieId  rating
  1292089   13768        1     5.0
  1292090   13768        2     3.0
  1292168   13768      296     5.0
  1292400   13768     1274     5.0
  1292534   13768     1968     5.0), (13888,          userId  movieId  rating
  1303399   13888        1     2.0
  1303400   13888        2     4.5
  1303421   13888      296     5.0
  1303475   13888     1274     4.0
  1303509   13888     1968     4.5), (13923,          userId  movieId  rating
  1306109   13923        1     4.0
  1306110   13923        2     4.0
  1306144   13923      296     5.0
  1306280   13923     1274     3.0
  1306375   13923     1968     5.0), (13934,          userId  movieId  rating
  1308045   13934        1     4.0
  1308046   13934        2     3.5
  1308070   13934      296     4.5
  1308147   13934     1274     3.0
  1308187   13934     1968     3.5), (14529,          userId  movieId  rating
  1355284   14529        1     5.0
  1355285   14529        2     0.5
  1355322   14529      296     5.0
  1355434   14529     1274     4.0
  1355486   14529     1968     3.5), (14551,          userId  movieId  rating
  1358185   14551        1     5.0
  1358186   14551        2     4.0
  1358267   14551      296     5.0
  1358513   14551     1274     4.0
  1358699   14551     1968     5.0), (14588,          userId  movieId  rating
  1363480   14588        1     4.0
  1363481   14588        2     3.5
  1363564   14588      296     4.0
  1363782   14588     1274     3.0
  1363935   14588     1968     4.0), (14984,          userId  movieId  rating
  1400478   14984        1     3.0
  1400479   14984        2     3.0
  1400553   14984      296     4.0
  1400765   14984     1274     3.0
  1400914   14984     1968     4.0), (15137,          userId  movieId  rating
  1415541   15137        1     3.0
  1415542   15137        2     4.0
  1415585   15137      296     5.0
  1415691   15137     1274     5.0
  1415758   15137     1968     4.5), (15157,          userId  movieId  rating
  1417931   15157        1     4.0
  1417932   15157        2     1.5
  1417983   15157      296     4.5
  1418129   15157     1274     4.0
  1418230   15157     1968     4.0), (15466,          userId  movieId  rating
  1449952   15466        1     4.5
  1449953   15466        2     3.0
  1450082   15466      296     4.5
  1450421   15466     1274     4.0
  1450606   15466     1968     4.0), (15670,          userId  movieId  rating
  1469180   15670        1     5.0
  1469181   15670        2     2.0
  1469275   15670      296     4.0
  1469544   15670     1274     3.0
  1469718   15670     1968     4.0), (15834,          userId  movieId  rating
  1483553   15834        1     4.5
  1483554   15834        2     4.0
  1483595   15834      296     5.0
  1483704   15834     1274     5.0
  1483758   15834     1968     3.5), (16292,          userId  movieId  rating
  1522401   16292        1     5.0
  1522402   16292        2     3.0
  1522434   16292      296     5.0
  1522518   16292     1274     5.0
  1522567   16292     1968     4.0), (16456,          userId  movieId  rating
  1542620   16456        1     4.0
  1542621   16456        2     1.5
  1542652   16456      296     4.0
  1542794   16456     1274     4.0
  1542863   16456     1968     3.0), (16506,          userId  movieId  rating
  1550054   16506        1     3.5
  1550055   16506        2     3.5
  1550131   16506      296     4.5
  1550334   16506     1274     4.0
  1550452   16506     1968     3.5), (17246,          userId  movieId  rating
  1616747   17246        1     3.5
  1616748   17246        2     3.0
  1616777   17246      296     4.5
  1616862   17246     1274     3.5
  1616907   17246     1968     3.0), (17438,          userId  movieId  rating
  1632436   17438        1     5.0
  1632437   17438        2     2.5
  1632457   17438      296     5.0
  1632533   17438     1274     4.5
  1632562   17438     1968     4.0), (17501,          userId  movieId  rating
  1637824   17501        1     2.0
  1637825   17501        2     2.5
  1637874   17501      296     5.0
  1638017   17501     1274     5.0
  1638111   17501     1968     4.5), (17502,          userId  movieId  rating
  1639070   17502        1     4.5
  1639071   17502        2     3.5
  1639090   17502      296     5.0
  1639152   17502     1274     4.0
  1639192   17502     1968     5.0), (17666,          userId  movieId  rating
  1651563   17666        1     4.0
  1651564   17666        2     2.0
  1651676   17666      296     5.0
  1651930   17666     1274     3.5
  1652105   17666     1968     3.5), (17735,          userId  movieId  rating
  1660801   17735        1     3.0
  1660802   17735        2     1.5
  1660852   17735      296     3.0
  1660987   17735     1274     2.0
  1661064   17735     1968     4.0), (17742,          userId  movieId  rating
  1661838   17742        1     5.0
  1661839   17742        2     3.0
  1661888   17742      296     5.0

Calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient

In [59]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [60]:
pearsonCorrelationDict.items()

dict_items([(75, 0.8272781516947562), (106, 0.5860090386731182), (686, 0.8320502943378437), (815, 0.5765566601970551), (1040, 0.9434563530497265), (1130, 0.2891574659831201), (1502, 0.8770580193070299), (1599, 0.4385290096535153), (1625, 0.716114874039432), (1950, 0.179028718509858), (2065, 0.4385290096535153), (2128, 0.5860090386731196), (2432, 0.1386750490563073), (2791, 0.8770580193070299), (2839, 0.8204126541423674), (2948, -0.11720180773462392), (3025, 0.45124262819713973), (3040, 0.89514359254929), (3186, 0.6784622064861935), (3271, 0.26989594817970664), (3429, 0.0), (3734, -0.15041420939904673), (4099, 0.05860090386731196), (4208, 0.29417420270727607), (4282, -0.4385290096535115), (4292, 0.6564386345361464), (4415, -0.11183835382312353), (4586, -0.9024852563942795), (4725, -0.08006407690254357), (4818, 0.4885967564883424), (5104, 0.7674257668936507), (5165, -0.4385290096535153), (5547, 0.17200522903844556), (6082, -0.04728779924109591), (6207, 0.9615384615384616), (6366, 0.6577935144802716), (6482, 0.0), (6530, -0.3516054232038709), (7235, 0.6981407669689391), (7403, 0.11720180773462363), (7641, 0.7161148740394331), (7996, 0.626600514784504), (8008, -0.22562131409856986), (8086, 0.6933752452815365), (8245, 0.0), (8572, 0.8600261451922278), (8675, 0.5370861555295773), (9101, -0.08600261451922278), (9358, 0.692178738358485), (9663, 0.193972725041952), (9994, 0.5030272728659587), (10248, -0.24806946917841693), (10315, 0.537086155529574), (10368, 0.4688072309384945), (10607, 0.41602514716892186), (10707, 0.9615384615384616), (10863, 0.6020183016345595), (11314, 0.8204126541423654), (11399, 0.517260600111872), (11769, 0.9376144618769914), (11827, 0.4902903378454601), (12069, 0.0), (12120, 0.9292940047327363), (12211, 0.8600261451922278), (12325, 0.9616783115081544), (12916, 0.5860090386731196), (12921, 0.6611073566849309), (13053, 0.9607689228305227), (13142, 0.6016568375961863), (13260, 0.7844645405527362), (13366, 0.8951435925492911), (13768, 0.8770580193070289), (13888, 0.2508726030021272), (13923, 0.3516054232038718), (13934, 0.17200522903844556), (14529, 0.7417901772340937), (14551, 0.537086155529574), (14588, 0.21926450482675766), (14984, 0.716114874039432), (15137, 0.5860090386731196), (15157, 0.9035841064985974), (15466, 0.7205766921228921), (15670, 0.516015687115336), (15834, 0.22562131409856986), (16292, 0.6577935144802716), (16456, 0.7161148740394331), (16506, 0.5481612620668942), (17246, 0.48038446141526137), (17438, 0.7093169886164387), (17501, 0.8168748513121271), (17502, 0.8272781516947562), (17666, 0.7689238340176859), (17735, 0.7042381820123422), (17742, 0.3922322702763681), (17757, 0.64657575013984), (17854, 0.537086155529574), (17897, 0.8770580193070289), (17944, 0.2713848825944774), (18301, 0.29838119751643016), (18509, 0.1322214713369862)])

In [61]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.827278      75
1         0.586009     106
2         0.832050     686
3         0.576557     815
4         0.943456    1040

#### The top x similar users to input user
Now let's get the top 50 users that are most similar to the input.

In [62]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
64         0.961678   12325
34         0.961538    6207
55         0.961538   10707
67         0.960769   13053
4          0.943456    1040

Start recommending movies to the input user.

#### Rating of selected users to all movies

We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our __pearsonDF__ from the ratings dataframe and then store their correlation in a new column called __similarityIndex__. This is achieved below by merging of these two tables.

In [63]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')

topUsersRating.head()

   similarityIndex  userId  movieId  rating
0         0.961678   12325        1     3.5
1         0.961678   12325        2     1.5
2         0.961678   12325        3     3.0
3         0.961678   12325        5     0.5
4         0.961678   12325        6     2.5

In [64]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.961678   12325        1     3.5        3.365874
1         0.961678   12325        2     1.5        1.442517
2         0.961678   12325        3     3.0        2.885035
3         0.961678   12325        5     0.5        0.480839
4         0.961678   12325        6     2.5        2.404196

In [65]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  38.376281          140.800834
2                  38.376281           96.656745
3                  10.253981           27.254477
4                   0.929294            2.787882
5                  11.723262           27.151751

In [66]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  38.376281          140.800834
2                  38.376281           96.656745
3                  10.253981           27.254477
4                   0.929294            2.787882
5                  11.723262           27.151751

In [67]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.668955        1
2                                     2.518658        2
3                                     2.657941        3
4                                     3.000000        4
5                                     2.316058        5

Sort and see the top 20 movies that the algorithm recommended!

In [68]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
5073                                       5.0     5073
3329                                       5.0     3329
2284                                       5.0     2284
26801                                      5.0    26801
6776                                       5.0     6776
6672                                       5.0     6672
3759                                       5.0     3759
3769                                       5.0     3769
3775                                       5.0     3775
90531                                      5.0    90531

In [69]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

,movieId,title,genres,year
2200,2284,Bandit Queen,Drama,1994
3243,3329,"Year My Voice Broke, The",Drama,1987
3669,3759,Fun and Fancy Free,Animation|Children|Musical,1947
3679,3769,Thunderbolt and Lightfoot,Action,1974
3685,3775,Make Mine Music,Animation|Children|Musical,1946
4978,5073,"Son's Room, The (Stanza del figlio, La)",Drama,2001
6563,6672,War Photographer,Documentary|War,2001
6667,6776,Lagaan: Once Upon a Time in India,Comedy|Drama|Musical|Romance,2001
9064,26801,Dragon Inn (Sun lung moon hak chan),Action,1992
18106,90531,Shame,Drama,2011

### Advantages and Disadvantages of Collaborative Filtering

##### Advantages
* Takes other user's ratings into consideration
* Doesn't need to study or extract information from the recommended item
* Adapts to the user's interests which might change over time

##### Disadvantages
* Approximation function can be slow
* There might be a low of amount of users to approximate
* Privacy issues when trying to learn the user's preferences